.product-page {
  display: flex;
  margin-top: 32px;
}

.item-preview {
  height: 850px;
  width: 560px;
  background-color: red;
  margin-top: -112px;
}

.product-information {
  margin-left: 110px;
}

.back-btn {
  background-color: transparent;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.666667px;
  text-transform: uppercase;
}

.back-btn:focus {
  outline: none;
}

.back-symbol {
  transform: rotate(90deg);
  margin-right: 8px;
}

.product-category {
  margin-top: 59px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #A3A3A3;;
}

.product-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  margin-top: 4px;
}

.action-wrapper {
  margin-top: 30px;
}

.size-chooser {
  border: 2px solid #000000;
  box-sizing: border-box;
  display: inline-block;
  padding: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.size-chooser img {
  margin-left: 11px;
}

.add-to-cart-btn {
  background-color: transparent;
  border: 2px solid #CBCBCB;
  box-sizing: border-box;
  padding: 22px 78px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C4C4C4;
  margin-left: 20px;
}

.product-description-wrapper{
  display: flex;
}

.product-description {
  width: 357px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-top: 60px;
}

.product-specification {
  margin-top: 65px;
  margin-left: 104px;
}

.product-specification-properties {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #A3A3A3;
}

.product-specification-values {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #000000;
  margin-left: 38px;
}
